.main {
  flex-grow: 1; /* Займає все доступне місце */
  display: flex; /* Додатково, щоб працювати з дочірніми елементами */
  align-items: center; /* Вирівнювання вмісту по вертикалі */
  justify-content: center; /* Вирівнювання вмісту по горизонталі */
}
