.card {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: flex-start;
    .img {
        width: 30%;
    }
    .descriptionAll {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        .name {
            font-size: 1.2rem;
            font-weight: bold;
        }
        .description {
            text-align: left;
            font-size: 1rem;
        }
    }
}