.card {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 102px;
    justify-content: flex-start;
    font-size: 1rem;
    cursor: pointer;
    .img {
        width: 30%;
    }
    .descriptionAll {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        .name {
            font-size: 1.2rem;
            font-weight: bold;
        }
        .description {
            text-align: left;
            font-size: 1rem;
        }
    }
    &:hover {
        background-color: #f0f0f0;
        color: #000;
    }
}